// --------------- Table of contents ----------------
//  components
//  |----- section helpers
//  |      |----- float right
//  |----- section logo
//  |----- section navigation
//  |----- section icons
//  |      |----- radial-icon
//  |----- section social
//  |      |----- social-link
//  |      |----- social-button
//  |----- section divisor
//  |      |----- divisor
//  |      |----- divisor-left
//  |----- section section-heading
//  |----- section section-text
//  |----- section img-preview
//  |      |----- img-preview
//  |      |----- img-preview-hover
//  |      |----- preview-content
//  |      |----- preview-icon
//  |      |----- preview-links
//  |      |----- common styles
//  |----- section avatar
// --------------------------------------------------





// ---------- section helpers ----------


// <<< float right >>>

.fl-r { float: right; }

// <<< end  >>>


// ---------- section end ----------





// ---------- section logo ----------


.logo {
  display: inline-block;
  line-height: 0;

  img {
    max: {
      height: 32px;
      width: 220px;
    }
    width: 100%;
  }

  //hiding text
  span { display: none; }

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}

// ---------- section end ----------





// ---------- section navigation ----------


.nav,
.nav li { display: inline-block; }

.nav li {
  a { text-decoration: none; }

  &:not(:last-of-type) { margin-right: 20px; }
}


// ---------- section end ----------





// ---------- section icons ----------


// <<< radial-icon >>>

.radial-icon {
  background-color: rgba(51, 51, 51, 0.8);
  border-radius: 50%;
  display: inline-block;
  height: 55px;
  line-height: 55px;
  text-align: center;
  width: 55px;

  i {
    color: #fff;
    font-size: 1.875em;
    vertical-align: middle;
  }
}

// <<< end >>>


// ---------- section end ----------





// ---------- section social ----------


// <<< social link >>>

.social-link {
  font-size: 1.5em;
  line-height: 1;
  position: relative;

  //hiding text in social link
  span {
    position: absolute;
    left: -999em;
  }
}

// <<< end >>>



// <<< social button >>>
.social-button {
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 1.25em; // 20px / 16px
  padding: 20px;
  text-decoration: none;


  i[class*="fa"] {
    font-size: 1.5em; // 30px / 20px
    margin-right: 10px;
    vertical-align: middle;
  }

  &:hover {
    border-color: $dark_blue;
    color: $dark_blue;
    transition: {
      property: color, border-color;
      duration: 1s;
    }
  }
}
// <<< end >>>


// ---------- section end ----------





// ---------- section divisor ----------


@media screen and (min-width: 768px) {
  // <<< divisor >>>

  .divisor { border-color: $gray; }

  // <<< end >>>



  // <<< divisor left >>>

  .divisor-left {
    border-left: {
      width: 2px;
      style: solid;
    }
    margin-left: 20px;
    padding-left: 20px;
  }

  // <<< end >>>
}


// ---------- section end ----------





// ---------- section section-heading ----------


.section-heading {
  line-height: 1;

  hr {
    background-color: $gray;
    border: none;
    height: 2px;
    width: 45px;
    margin: 10px 0 0;
  }
}


// ---------- section end ----------





// ---------- section section-text ----------

.section-text {
  line-height: 1.5555555556; // 28px / 18px
  margin: 40px 0;
}

// ---------- section end ----------





// ---------- section img-preview ----------


// <<< img-preview >>>

.img-preview {
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  // hover efects
  &:hover {
    .img-preview-hover { opacity: 1; }

    .preview-icon,
    .preview-links { transform: translateY(0); }

    img {
      transform: scale(1.1);
    }
  }
}

// <<< end >>>



// <<< img-preview-hover >>>

.img-preview-hover {
  background-color: rgba(51, 51, 51, 0.5);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity .4s ease-in-out;
}

// <<< end >>>


// <<< preview-content >>>

.preview-content {
  bottom: 0;
  height: 177px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
}

// <<< end >>>



// <<< preview-icon >>>

.preview-icon {
  margin-bottom: 20px;
  transform: translateY(-150px);
}

// <<< end >>>



// <<< preview-links >>>

.preview-links {
  color: #fff;
  font-size: 1.125em;
  transform: translateY(150px);

  li:not(:last-of-type) { margin-bottom: 15px; }

  i {
    margin-right: 10px;
    vertical-align: middle;
  }
}

// <<< end >>>



// <<< common styles >>>

.img-preview,
.img-preview-hover {
  height: 291px;
  width: 282px;
}

.img-preview img,
.preview-icon,
.preview-links { transition: transform .4s ease-in-out; }

// <<< end >>>


// ---------- section end ----------





// ---------- section avatar ----------


.avatar {
  border-radius: 50%;
  max: {
    height: 217px;
    width: 217px;
  }
  width: 100%;
}


// ---------- section end ----------
