// --------------- Table of contents ----------------
//  globals
//  |----- section colors
//  |----- section reset
//  |----- section typography
//  |      |----- font set
//  |      |----- headings
//  |      |----- paragraphs
//  |----- section links
//  |----- section lists
//  |----- section articles
// --------------------------------------------------





// ---------- section colors ----------


$blue_sky: #6cf;
$carbon: #333;
$dark_blue: #356;
$gray: #666;


// ---------- section end ----------





// ---------- section reset ----------


*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


// ---------- section end ----------





// ---------- section typograph ----------


// <<< font set >>>

body {
  color: $gray;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

// <<< end >>>



// <<< headings >>>

h2 { font-weight: 400; }

// <<< end >>>



// <<< paragraphs >>>

p { font-size: 1.125em; } // 18px / 16px

// <<< end >>>


// ---------- section end ----------





// ---------- section links ----------


a {
  color: $gray;

  &:visited { color: inherit; }

  &:hover {
    color: $blue_sky;
    transition: color .5s;
  }
}


// ---------- section end ----------





// ---------- section lists ----------


ul { list-style-type: none; }


// ---------- section end ----------




// ---------- section articles ----------


article { padding: 80px 0; }


// ---------- section end ----------
