// --------------- Table of contents ----------------
//  style
//  |----- section main header
//  |----- section freebies
//  |----- section about
//  |----- section main footer
// --------------------------------------------------





// ---------- section main header ----------


header[role="banner"] { padding: 20px 0; }


// ---------- section end ----------





// ---------- section freebies ----------


#freebies {

  // adjusting margins between columns
  @media screen and (max-width: 1200px) {
    [class*="col-"]:not(:last-child) { margin-bottom: 40px; }
  }

  @media screen and (min-width: 768px) {
    [class*="col-"]:nth-last-child(2),
    [class*="col-"]:last-child { margin-bottom: 0; }
  }
}


// ---------- section end ----------





// ---------- section about ----------

#about {
  background-color: $blue_sky;
  color: #fff;

  //section-heading hr color
  hr { background-color: #fff; }

  .section-heading,
  .section-text { text-align: left; }

  @media screen and (max-width: 768px) {
    // align center avatar and social buttons
    text-align: center;

    // margin for avatar
    .avatar { margin-top: 40px; }

    // margin for social buttons
    li:not(:last-of-type) { margin-bottom: 20px; }
  }
}

// ---------- section end ----------




// ---------- section main footer ----------

footer[role="contentinfo"] {
  background-color: $carbon;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

// ---------- section end ----------
