*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  color: #666;
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

p {
  font-size: 1.125em; }

h2 {
  font-weight: 400; }

a {
  color: #666; }
  a:active {
    color: inherit; }
  a:hover {
    color: #6cf;
    transition: color .5s; }

header[role="banner"] h1 img {
  max-width: 177px;
  max-height: 32px; }
header[role="banner"] h1 span {
  display: none; }

.header-links a {
  font-size: .875em;
  text-decoration: none; }
  .header-links a:not(:last-of-type) {
    margin-right: 20px; }
  .header-links a i {
    font-size: 1.2857142857em;
    margin-right: 10px; }

.social-links li {
  display: inline-block; }
  .social-links li a {
    position: relative; }
    .social-links li a i {
      font-size: 1.7142857143em; }
    .social-links li a span {
      position: absolute;
      left: -9999em; }
