// ==================================================
// @project Jorge's portfolio
// @version 1.0
// @author Jorge Arimitsu
// ==================================================
// Table of contents
// ==================================================
//   - @section variables
// --------------------------------------------------
//   - @section reset
// --------------------------------------------------
//   - @section typography
// --------------------------------------------------
//   - @section navigation
// --------------------------------------------------
//   - @section header
// --------------------------------------------------


// --------------------------------------------------
// @section variables
// --------------------------------------------------

//colors
$gray: #666;
$blue_sky: #6cf;
// --------------------------------------------------

// --------------------------------------------------
// @section reset
// --------------------------------------------------
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// --------------------------------------------------


// --------------------------------------------------
// @section typography
// --------------------------------------------------

// default font set
body {
  color: $gray;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

p { font-size: 1.125em; }

h2 { font-weight: 400; }
// --------------------------------------------------


// --------------------------------------------------
// @section navigation
// --------------------------------------------------
a {
  color: $gray;

  &:active { color: inherit; }

  &:hover {
    color: $blue_sky;
    transition: color .5s;
  }
}
// --------------------------------------------------


// --------------------------------------------------
// @section header
// --------------------------------------------------
header[role="banner"] {
  h1 {
    img {
      max-width: 177px;
      max-height: 32px;
    }
    // hiding logo text
    span { display: none; }
  }
}

.header-links a {
  font-size: .875em; // 14px / 16px
  text-decoration: none;
  
  i {
    font-size: 1.2857142857em; // 18px / 14px
    margin-right: 10px;
  }
}

.social-links li {
  display: inline-block;

  a {
    position: relative;

  i { font-size: 1.7142857143em; } // 24px / 14px 

    //hiding links texts
    span {
      position: absolute;
      left: -9999em;
    }
  }
}

.header-links a,
.social-links li {
  &:not(:last-of-type) { margin-right: 20px; }
}
// --------------------------------------------------