// ==================================================
// @project Jorge's portfolio
// @version 1.0
// @author Jorge Arimitsu
// ==================================================
// Table of contents
// ==================================================
//   - @section variables
// --------------------------------------------------
//   - @section reset
// --------------------------------------------------
//   - @section typography
// --------------------------------------------------
//   - @section navigation
// --------------------------------------------------
//   - @section header
// --------------------------------------------------


// --------------------------------------------------
// @section variables
// --------------------------------------------------

//colors
$gray: #666;
$blue_sky: #6cf;
// --------------------------------------------------

// --------------------------------------------------
// @section reset
// --------------------------------------------------
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// --------------------------------------------------


// --------------------------------------------------
// @section typography
// --------------------------------------------------

// default font set
body {
  color: $gray;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

p { font-size: 1.125em; }

h2 { font-weight: 400; }
// --------------------------------------------------


// --------------------------------------------------
// @section navigation
// --------------------------------------------------
a {
  color: $blue_sky;

  &:active { color: inherit; }

  &:hover {
    color: $blue_sky;
    transition: color .5s;
  }
}
// --------------------------------------------------


// --------------------------------------------------
// @section header
// --------------------------------------------------
header[role="banner"] {
  a {
    color: $gray;
    font-size: .875em;
    text-decoration: none;
  }
}
// --------------------------------------------------