// ==================================================
// @project Jorge's portfolio
// @version 1.0
// @author Jorge Arimitsu
// ==================================================
// Table of contents
// ==================================================
//   - @section reset
// --------------------------------------------------


// --------------------------------------------------
// @section reset
// --------------------------------------------------
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// --------------------------------------------------
