*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  color: #666;
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

h2 {
  font-weight: 400; }

p {
  font-size: 1.125em;
  line-height: 1.5555555556; }

a {
  color: #666; }
  a:active {
    color: inherit; }
  a:hover {
    color: #6cf;
    transition: color .5s; }

ul {
  list-style-type: none; }

.logo img {
  max-height: 32px;
  max-width: 220px;
  width: 100%; }
.logo span {
  display: none; }

.nav,
.nav li {
  display: inline-block; }

.nav li a {
  text-decoration: none; }
.nav li:not(:last-of-type) {
  margin-right: 20px; }

.social-link {
  font-size: 1.5em;
  line-height: 1;
  position: relative; }
  .social-link span {
    position: absolute;
    left: -999em; }

.social-button {
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 1.25em;
  padding: 20px; }
  .social-button i[class*="fa"] {
    font-size: 1.5em;
    margin-right: 10px;
    vertical-align: middle; }
  .social-button:hover {
    border-color: #356;
    color: #356;
    transition-property: color, border-color;
    transition-duration: 1s; }

@media screen and (min-width: 768px) {
  .divisor {
    border-color: #666; }

  .divisor-left {
    border-left-width: 2px;
    border-left-style: solid;
    margin-left: 20px;
    padding-left: 20px; } }
.section-heading {
  line-height: 1; }
  .section-heading hr {
    background-color: #666;
    border: none;
    height: 2px;
    width: 45px;
    margin: 10px 0 0; }

.img-preview {
  max-height: 291px;
  max-width: 282px;
  width: 100%; }

.avatar {
  border-radius: 50%;
  max-height: 217px;
  max-width: 217px;
  width: 100%; }
